<h1>Admin::Dashboard#show</h1>



<div class="panel panel-default">
  <div class="panel-heading">Product Count</div>
  <div class="panel-body">
  <%= link_to @products_sum,  [:admin, :products] %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Category Count</div>
  <div class="panel-body">
  <%= link_to @category_sum.product.count,  [:admin, :products] %>
  </div>
</div>