<%= p @categories %>

<section class="admin-products-index">

  <header class="page-header">
    <h1>Admin >> All Categories</h1>
  <h1/header>

  <div class="well">

  </div>

  <div class="panel panel-default products">
  <table>
    <tbody>
      <%= render @categories %>
    </tbody>
  </table>

  </div>

</section>
