// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}

.logged_user {
  color: #777;
  padding-top: 15px;
  padding-bottom: 15px;
}

.logged_user:hover {
  color: #333;
}