// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}

.registration_form {
  border: 2px solid #777;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:0 auto;
  width:75%;
  height: fit-content;
  text-align:left
}